* {
  box-sizing: border-box;
}

/* font-family: 'Quicksand', sans-serif;
font-family: 'Press Start 2P', cursive; */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

header {
  margin-top: 60px;
  font-size: 30px;
  line-height: 0;
}

#message-section {
  margin-top: 40px;
  margin-bottom: 20px;
}

main {
  display: flex;
  align-items: center;
}

.win-img {
  width: 100px;
  height: 100px;
  margin: 5vmin;
}

/* .board-sprite {
  max-width: 50px;
  background-image: url('../media/chess-board-option-sprites/Creampuff-board-option.svg');
} */

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 400px;
  width: 400px;
  background-image: url('../media/chess-board-sprites/Creampuff-board.svg');
  background-size: cover;
}

button {
  margin: auto 0;
  font-family: 'Press Start 2P', cursive;
}